/* ---------------------------------- */
/* General */
/* ---------------------------------- */

* {
    margin: auto;
    text-align: center;
    /* background-color: #9f9f9f; */
}

body {
    background-color: rgba(145, 48, 48, 0.9);
}

form, img {
    width: 40vw;
    object-fit: contain;
} 

/* ---------------------------------- */
/* Classes */
/* ---------------------------------- */

.plano {
    padding-left: 10px;
    padding-right: 10px;
}

.au {
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.au-pequeno {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.navbar-boton {
    background-color: azure;
}

.nickname {
    font-family:'Times New Roman', Times, serif
}

/* ---------------------------------- */
/* ID */
/* ---------------------------------- */

#carta {
    background-color: rgba(145, 48, 48, 0.9);
}